:root {
    --popup-background-color: rgba(255, 255, 255, 0.8);
}

.mapboxgl-popup-content {
    background-color: rgba(256, 256, 256, 0.8);
    border-radius: 8px;
    padding: 10px;
}

.mapboxgl-popup-close-button {
    color: rgba(0, 0, 0, 0.6);
    font-size: 24px;
    margin: 1px;
    padding: 3px;
}

.mapboxgl-popup-anchor-top .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip {
    border-bottom-color: var(--popup-background-color);
}
.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-tip {
    border-top-color: var(--popup-background-color);
}
.mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
    border-right-color: var(--popup-background-color);
}
.mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
    border-left-color: var(--popup-background-color);
}